# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# virtualenv
.venv
venv/

# idea
.idea/

# test server
*.sqlite3

# logs
fetcher.log
fetcher.log.*
