# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
local_settings.py

# virtualenv
.venv
venv/

# idea
.idea/

# test server
*.sqlite3
skipped/

# logs
*.log
fetcher.log.*
ws_client.log.*

# settings
.env

# data
mysql_data
nginx/ssl/
*.pickle

# flags
.build
.debug

# compiled static
web/static/
!web/static/.keep

# backups
*.bak
*.backup
