<html ng-app="ggGalka" ng-controller="ggGalkaCtrl">
<head>
    <title>༼ つ ◕_◕ ༽つ GGГалка</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">

<!--    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
</head>

<base href="/">

<body>
<div class="title">
  <h1>GGГалка</h1>
  <div class="loading" ng-if="isLoading"></div>
  <a ng-if="stream.id" class="back" href="" ui-sref="list">Назад к списку</a>
</div>

<div ui-view=""></div>

<script src="main.js"></script>
</body>

</html>
