[mysqld]
#init_connect=‘SET collation_connection = utf8_unicode_ci’
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
table_definition_cache = 1000
innodb_ft_total_cache_size = 64M
innodb_max_undo_log_size = 100M
parser_max_mem_size = 100M
myisam_mmap_size = 100M
myisam_max_sort_file_size = 100M
max_binlog_size = 50M
innodb_flush_method = O_DIRECT
key_buffer_size = 4M
max_allowed_packet = 1024M
sort_buffer_size = 128K
skip-name-resolve = 1
query_cache_limit = 2M

[client]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4
max_allowed_packet = 1024M
net_read_timeout = 86400
net_write_timeout = 86400

[mysql]
default-character-set = utf8mb4
