<div class="view" ng-if="stream">

    <div class="player">
        <!--div ng-bind-html="stream.channel.embed"></div-->
        <iframe frameborder="0" width="100%" height="100%" allowfullscreen="true" ng-src="{{ 'https://goodgame.ru/player?' + stream.channel.gg_player_src }}"></iframe>

    </div>
    <div class="chat">
        <div class="chat-header"></div>
        <iframe frameborder="0" width="100%" height="100%" ng-src="{{ 'https://goodgame.ru/chat/' + stream.key }}">

        </iframe>
    </div>

</div>

