{% extends "ggchat/base.html" %}

{% load simplefilters %}

{% block head %}
    {% load chart %}
    {% chart_load_js %}
{% endblock %}

{% block page_title %}
    {% if channel %}
        Канал #{{ channel.channel_id }}
        {% if channel.streamer %}
            <a href="{% url 'user' channel.streamer.user_id %}">
            (Стример {{ channel.streamer.username }} #{{ channel.streamer.user_id }})
            </a>
         {% endif %}
    {% else %}
        Неизвестный канал
    {% endif %}
{% endblock %}

{% block main %}
    {% if channel == None %}
        <p>Не знаю такого канала =(</p>

    {% else %}

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4>Число людей на стриме</h4>
                <div id="chart_people"></div>
                {% chart_datetime "chart_people" chart_people %}
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>Донат за неделю</h4>
                <div id="chart_income"></div>
                {% chart_datetime "chart_income" chart_income %}
            </div>
        </div>

        {# row 1 #}
        <div class="row">
            {# column 1 #}
            <div class="col-md-8 col-sm-12">
                <h4>Последние донаты</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Пользователь</th><th>Сумма</th><th>Сообщение</th></tr>
                        </thead>
                        <colgroup>
                         	<col class="col-md-2">
                         	<col class="col-md-1">
                            <col class="col-md-1">
                          	<col class="col-md-4">
                        </colgroup>
                        <tbody>
                        {% for donation in donations %}
                            <tr>
                            <td>{{ donation.timestamp }}</td>
                            <td>
                                {% if donation.user.username %}
                                    <a href="{% url 'user' donation.user_id %}">{{ donation.user.username }}</a>
                                {% else %}
                                    <a href="{% url 'user' donation.user_id %}">{{ donation.user_id }}</a>
                                {% endif %}
                            </td>
                            <td>{{ donation.amount|floatformat }}</td>
                            <td>
                                {% if donation.voice %}
                                    <audio id="audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}" src="{{ donation.voice }}"></audio>
                                    <a id="a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}" class="fa fa-play fa-lg" onClick="togglePlay_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}()"></a>
                                    | <a href="{{ donation.voice }}">Скачать</a> | <a href="{% url 'voice_player' donation.voice|slice:"8:" %}">Плеер</a>
                                    <script>
                                        var audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}} = document.getElementById("audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}");
                                        var a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}} = document.getElementById("a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}");
                                        function togglePlay_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}() {
                                          if (audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.paused) {
                                            audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.play();
                                          } else {
                                            audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.pause();
                                          }
                                        }
                                        audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.onplaying = function() {
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.remove("fa-play");
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.add("fa-pause");
                                        };
                                        audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.onpause = function() {
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.remove("fa-pause");
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.add("fa-play");
                                        };
                                    </script>
                                {% endif %}
                                {{ donation.text }}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h4>Последние сообщения</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Пользователь</th><th>Сообщение</th></tr>
                        </thead>
                        <colgroup>
                        	<col class="col-md-2">
                        	<col class="col-md-2">
                        	<col class="col-md-5">
                        </colgroup>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                            <td>
                                {% if show_chat_links %}
                                    <a href="{% url 'chathistory' message.id message.id|chat_hash %}">{{ message.timestamp }}</a>
                                {% else %}
                                    {{ message.timestamp }}
                                {% endif %}
                            </td>
                                <td><a href="{% url 'user' message.user_id %}">{{ message.user.username }}</a></td>
                            <td>
                                {% if message.removed %}
                                    <strike>
                                    {{ message.text }}
                                    </strike>
                                    &ensp;&ndash;
                                    удалил <a href="{% url 'user' message.removed_by.user_id %}">{{ message.removed_by.username }}</a>
                                {% else %}
                                    {{ message.text }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
            {# column 2 #}
                <h4>Последние активированные премиумы</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Пользователь</th><th>Стрик (месяцев)</th></tr>
                        </thead>
                        <colgroup>
							<col class="col-md-3">
							<col class="col-md-3">
							<col class="col-md-2">
                        </colgroup>
                        <tbody>
                        {% for premium in premiums %}
                            <tr>
                            <td>{{ premium.timestamp }}</td>
                            <td><a href="{% url 'user' premium.user_id %}">{{ premium.user.username }}</a></td>
                            <td>{{ premium.resubs }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h4>Последние подписки на канал</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Пользователь</th></tr>
                        </thead>
                        <tbody>
                        {% for follow in follows %}
                            <tr>
                            <td>{{ follow.timestamp }}</td>
                                <td><a href="{% url 'user' follow.user_id %}">{{ follow.user.username }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        {# row 3 #}
{#        <div class="row">#}
{#            <div class="col-md-8 col-sm-12">#}
{#                <h4>Активные премиумы</h4>#}
{#                <div class="table-responsive">#}
{#                    <table class="table table-bordered table-hover table-striped">#}
{#                        <thead>#}
{#                        <tr><th>Дата</th><th>Пользователь</th><th>Стрик ресабов</th></tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for premium in active_premiums %}#}
{#                            <tr>#}
{#                            <td>{{ premium.started }}</td>#}
{#                            <td>{% if premium.user.username %}#}
{#                                    <a href="{% url 'user' premium.user_id %}">{{ premium.user.username }}</a>#}
{#                                {% elif premium.channel_id == "0" %}#}
{#                                    Общий премиум#}
{#                                {% else %}#}
{#                                    <a href="{% url 'user' premium.user_id %}">{{ premium.user_id }}</a>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>{{ premium.resubs }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="col-md-4 col-sm-12">#}
{##}
{#            </div>#}
{#        </div>#}

    {% endif %}
{% endblock %}







