{% extends "ggchat/base.html" %}

{% block page_title %}
Неофициальная статистика сайта goodgame.ru
{% endblock %}

{% block main %}

    <h3>Зачем?</h3>
    <p>Было интересно посчитать различные циферки и местами порадоваться, а местами подтвердиться в догадках.</p>
    <p></p>

    <h3>Откуда?</h3>
    <p>Все данные получены из открытых источников сайта GG. Любой желающий может собрать (и возможно собирает) эти данные прямо сейчас.</p>

    <h3>А можно ещё?</h3>
    <p>Скорее всего проект не будет дальше развиваться.</p>
    <p>Но вы всё равно можете задать вопрос / предложить что-нибудь на форуме - <a href="https://goodgame.ru/topic/101319/">https://goodgame.ru/topic/101319/</a>.</p>

    <h3>Я могу лучше!</h3>
    <p>Исходный код проекта доступен на <a href="https://github.com/strayge/ggstats">github</a>.</p>

{% endblock %}
