{% extends "ggchat/base.html" %}

{% load simplefilters %}

{% block page_title %}
Удаленное
{% endblock %}

{% block main %}
        {# row 1 #}
        <div class="row">
            <div class="col-md-12 col-sm-12">

                {% if removed_messages|length %}
                <h4>Удаленные сообщения</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Сообщение</th><th>Кто удалил</th></tr>
                        </thead>
                        <colgroup>
                        	<col class="col-md-1">
                        	<col class="col-md-1">
                        	<col class="col-md-6">
                        	<col class="col-md-1">
                        </colgroup>
                        <tbody>
                        {% for message in removed_messages %}
                            <tr>
                                <td>
                                    {% if show_chat_links %}
                                        <a href="{% url 'chathistory' message.id message.id|chat_hash %}">{{ message.timestamp }}</a>
                                    {% else %}
                                        {{ message.timestamp }}
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'channel' message.channel_id %}">{{ message.channel.streamer.username }}</a></td>
                                <td>{{ message.text }}</td>
                                <td>
                                    <a href="{% url 'user' message.removed_by.user_id %}">{{ message.removed_by.username }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </div>

        </div>

{% endblock %}
