{% extends "ggchat/base.html" %}

{% load simplefilters %}

{% block page_title %}
    {% if user_id %}
        Пользователь {% if name %} <a href="https://goodgame.ru/user/{{ user_id }}/">{{ name }}</a> {% endif %} #{{ user_id }}
        {% if channel %}
            <a href="{% url 'channel' channel.channel_id %}">(Канал #{{ channel.channel_id }})</a>
    {% endif %}
    {% else %}
        Неизвестный пользователь
    {% endif %}
{% endblock %}

{% block main %}
    {% if name == None %}
        <p>Пользователь не найден =(</p>
    {% else %}
        {# row 1 #}
        <div class="row">
            <div class="col-md-8 col-sm-12">

                {% if messages|length %}
                <h4>Последние сообщения</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Сообщение</th></tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                            <td>
                                {% if show_chat_links %}
                                    <a href="{% url 'chathistory' message.id message.id|chat_hash %}">{{ message.timestamp }}</a>
                                {% else %}
                                    {{ message.timestamp }}
                                {% endif %}
                            </td>
                                <td>{% channel_link message.channel %}</td>
                            <td>
                                {% if message.removed %}
                                    <strike>
                                    {{ message.text }}
                                    </strike>
                                    &ensp;&ndash;
                                    удалил <a href="{% url 'user' message.removed_by.user_id %}">{{ message.removed_by.username }}</a>
                                {% else %}
                                    {{ message.text }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if donations|length %}
                <h4>Последние донаты</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Сумма</th><th>Сообщение</th></tr>
                        </thead>
                        <tbody>
                        {% for donation in donations %}
                            <tr>
                            <td>{{ donation.timestamp }}</td>
                            <td>
                                {% if donation.channel.streamer.username %}
                                    <a href="{% url 'channel' donation.channel_id %}">{{ donation.channel.streamer.username }}</a>
                                {% elif donation.link %}
                                    <a href="{{ donation.link }}">{{ donation.link }}</a>
                                {% else %}
                                    <a href="{% url 'channel' donation.channel_id %}">{{ donation.channel_id }}</a>
                                {% endif %}
                            </td>
                            <td>{{ donation.amount }}</td>
                            <td>
                                {% if donation.voice %}
                                    <audio id="audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}" src="{{ donation.voice }}"></audio>
                                    <a id="a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}" class="fa fa-play fa-lg" onClick="togglePlay_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}()"></a>
                                    | <a href="{{ donation.voice }}">Скачать</a> | <a href="{% url 'voice_player' donation.voice|slice:"8:" %}">Плеер</a>
                                    <script>
                                        var audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}} = document.getElementById("audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}");
                                        var a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}} = document.getElementById("a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}");
                                        function togglePlay_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}() {
                                          if (audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.paused) {
                                            audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.play();
                                          } else {
                                            audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.pause();
                                          }
                                        }
                                        audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.onplaying = function() {
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.remove("fa-play");
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.add("fa-pause");
                                        };
                                        audio_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.onpause = function() {
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.remove("fa-pause");
                                            a_{{ donation.voice|slice:"34:47"|cut:"`~!@#$%^&*()_+-=[]{}|;':\/?,.<>"}}.classList.add("fa-play");
                                        };
                                    </script>
                                {% endif %}
                                {{ donation.text }}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if bans|length %}
                <h4>Выданные баны</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr> <th>Дата</th> <th>Канал</th> <th>Пользователь</th> <th>Длительность</th> <th>Причина</th> </tr>
                        </thead>
                        <tbody>
                        {% for ban in bans %}
                            <tr>
                            <td>{{ ban.timestamp }}</td>
                            <td>{% channel_link ban.channel %}</td>
                            <td><a href="{% url 'user' ban.user_id %}">{{ ban.user.username }}</a></td>
                            <td>
                                {% if ban.permanent %}
                                    Перманентно
                                {% elif ban.duration == 0 %}
                                    Разбанен
                                {% elif ban.duration < 172800 %}
                                    {{ ban.duration|div_int:60 }} минут
                                {% else %}
                                    {{ ban.duration|div_int:86400 }} дней
                                {% endif %}
                            </td>
                            <td>{{ ban.reason }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if received_bans|length %}
                <h4>Полученные баны</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr> <th>Дата</th> <th>Канал</th> <th>Модератор</th> <th>Длительность</th> <th>Причина</th> </tr>
                        </thead>
                        <tbody>
                        {% for ban in received_bans %}
                            <tr>
                            <td>{{ ban.timestamp }}</td>
                            <td>{% channel_link ban.channel %}</td>
                            <td><a href="{% url 'user' ban.moderator_id %}">{{ ban.moderator.username }}</a></td>
                            <td>
                                {% if ban.permanent %}
                                    Перманентно
                                {% elif ban.duration == 0 %}
                                    Разбанен
                                {% elif ban.duration < 172800 %}
                                    {{ ban.duration|div_int:60 }} минут
                                {% else %}
                                    {{ ban.duration|div_int:86400 }} дней
                                {% endif %}
                            </td>
                            <td>{{ ban.reason }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if removed_messages|length %}
                <h4>Удаленные сообщения</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Сообщение</th><th>Кто удалил</th></tr>
                        </thead>
                        <tbody>
                        {% for message in removed_messages %}
                            <tr>
                                <td>
                                    {% if show_chat_links %}
                                        <a href="{% url 'chathistory' message.id message.id|chat_hash %}">{{ message.timestamp }}</a>
                                    {% else %}
                                        {{ message.timestamp }}
                                    {% endif %}
                                </td>
                                <td>{% channel_link message.channel %}</td>
                                <td>{{ message.text }}</td>
                                <td>
                                    <a href="{% url 'user' message.removed_by.user_id %}">{{ message.removed_by.username }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </div>
            <div class="col-md-4 col-sm-12">

                {% if donations_by_channel|length %}
                <h4>Суммарно донатов</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Канал</th><th>Сумма</th></tr>
                        </thead>
                        <tbody>
                        {% for d in donations_by_channel %}
                            <tr>
                            <td>{% if d.channel_id == None %}
                                    Турниры
                                {% elif d.channel__streamer__username %}
                                    <a href="{% url 'channel' d.channel_id %}">{{ d.channel__streamer__username }}</a>
                                {% else %}
                                    <a href="{% url 'channel' d.channel_id %}">{{ d.channel_id }}</a>
                                {% endif %}
                            </td>
                            <td>{{ d.sum }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Итого:</b></td>
                            <td>{{ donations_total }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if active_premiums|length %}
                <h4>Активные премиумы</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Стрик (уровень)</th></tr>
                        </thead>
                        <tbody>
                        {% for premium in active_premiums %}
                            <tr>
                            <td>{{ premium.started }}</td>
                            <td>{% if premium.channel.streamer.username %}
                                    <a href="{% url 'channel' premium.channel_id %}">{{ premium.channel.streamer.username }}</a>
                                {% elif premium.channel_id == "0" %}
                                    Общий премиум
                                {% else %}
                                    <a href="{% url 'channel' premium.channel_id %}">{{ premium.channel_id }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if premium.resubs == 1 %}
                                    Месяц
                                {% elif premium.resubs == 2 %}
                                    3 месяца
                                {% elif premium.resubs == 3 %}
                                    6 месяцев
                                {% elif premium.resubs == 4 %}
                                    Год
                                {% elif premium.resubs == 5 %}
                                    2 года
                                {% elif premium.resubs == 6 %}
                                    5 лет
                                {% else %}
                                    {{ premium.resubs }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if premiums|length %}
                <h4>Последние активированные премиумы</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th><th>Стрик (месяцев)</th></tr>
                        </thead>
                        <tbody>
                        {% for premium in premiums %}
                            <tr>
                            <td>{{ premium.timestamp }}</td>
                            <td><a href="{% url 'channel' premium.channel_id %}">{{ premium.channel.streamer.username }}</a></td>
                            <td>{{ premium.resubs }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if follows|length %}
                <h4>Последние подписки на каналы</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Дата</th><th>Канал</th></tr>
                        </thead>
                        <tbody>
                        {% for follow in follows %}
                            <tr>
                            <td>{{ follow.timestamp }}</td>
                                <td><a href="{% url 'channel' follow.channel_id %}">{{ follow.channel.streamer.username }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if timeinchat|length %}
                <h4>Был в чате</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr><th>Канал</th><th>С</th><th>По</th></tr>
                        </thead>
                        <tbody>
                        {% for record in timeinchat %}
                            <tr>
                            <td>{% channel_link record.channel %}</td>
                            <td>{{ record.start }}</td>
                            <td>{{ record.end }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </div>
        </div>

        {# row 3 #}
        <div class="row">
            <div class="col-md-8 col-sm-12">

            </div>
            <div class="col-md-4 col-sm-12">

            </div>
        </div>

    {% endif %}
{% endblock %}
